
html{
	max-height:100%;
}
body {
	margin:0;
	padding:0;
	height:auto;
	max-width:100%;
	position:relative;
}

.main-content{
	height: 700px;
	max-width: 100%;
	background:cover;
	//background: url('../img/recordkeeping.jpg') no-repeat center center;
}

